html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
}

header{
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 150%;
    font-family: 'Bellota', cursive;
}

select{
    margin: 20px;
    padding: 7px;
}

.selection{
    text-align: center;
    padding: 20px;
    padding-bottom: 350px;
    margin: 40px;
    background-color: rgb(241, 222, 247);
    border: 2px solid;
    height: 100%;
    width: 70% auto;

}


#length_section, #weight_section, #area_section, #volume_section {
    display: none; 
    
}

:disabled {  
    display: none; 

}


.imperial_length, .imperial_area, .imperial_volume, .imperial_weight{
    display: block;
    float: left;
    margin: 30px;
    padding-left: 70px;
    
    
}

 .metric_area,.metric_length, .metric_volume, .metric_weight  {
    display: block;
    float: right;
    margin: 30px;
    padding-right: 70px;
    
}



